<template>
    <main>
        <div class="boxes">      
            <div class="box">
                <transition mode="out-in" name="fade">
                    <p key="1" v-if="!isLoading">{{ slides[index] }}</p>
                    <Origami key="2" v-else size="60px" />
                    <!-- <RotateSquare2 key="2" v-else size="80px" /> -->
                    <!-- <Texture key="2" v-else size="100%" style="position: absolute" /> -->
                    <!-- More: https://nguyenvanduocit.github.io/vue-loading-spinner/ -->
                </transition>      
            </div>
        </div>
        <button @click="next" :disabled="isLoading">
            <svg height="36" viewBox="-.5 0 24 24" width="36">
                <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
            </svg>
        </button>
    </main>    
</template>

<script>
import { Origami } from "vue-loading-spinner";

export default {
  components: { Origami },
  data() {
    return {
      index: 0,
      slides: ["Hi", "We've updated your IDE", "Enjoy JetBrains Rider 2018.3"],
      isLoading: false
    };
  },
  methods: {
    next() {
      setTimeout(() => {
        this.index++;
        this.index %= this.slides.length;
        this.isLoading = false;
      }, 2000);
      this.isLoading = true;
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.boxes {
  display: flex;
  justify-items: stretch;
}

.box {
  font-family: "Open Sans", Ubuntu, 'Segoe UI', sans-serif;
  font-weight: 300;
  font-size: 22pt;
  text-align: center;

  width: 40rem;
  min-height: calc(15rem + 1.5em);
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.8);

  background: #333;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter:not(.spinner) { transform: translateX(-100%); }
.fade-leave-to:not(.spinner) { transform: translateX(100%); }

button {
  background: #41b882;
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
}

button svg > path {
  fill: #eee;
}

button:focus {
  box-shadow: none;
  transform: translateY(2px);
}
</style>